<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        <p>PoWA is PostgreSQL Workload Analyzer that gathers performance stats
        and provides real-time charts and graphs to help monitor and tune your
        PostgreSQL servers.</p>

        <p>It is similar to <b>Oracle AWR</b> or <b>SQL Server MDW</b>.</p>

      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/dalibo/powa/archive/REL_1_2.zip" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download
        </a>
        &nbsp;
        <a href="http://powa.readthedocs.org/" class="btn btn-lg btn-outline">
          <i class="fa fa-book"></i> Read The Doc
        </a>
      </div>
    </div>
  </div>
</section>
