<!-- About Section -->
<section class="success" id="code">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Code</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>PoWA is available under the PostgreSQL license. You allowed to download, use and modify this software as long as you maintain our copyright notice.</p>
      </div>
      <div class="col-lg-4">
        <p>The main code is a PostgreSQL extension written in C and SQL.
        The user interface is based on Perl and Mojolicious.
        Obviously the stats are stored in a PostgreSQL database :-)</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/dalibo/powa/archive/REL_1_2.zip" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download
        </a>
        &nbsp;
        <a href="http://powa.readthedocs.org/en/latest/quickstart.html" class="btn btn-lg btn-outline">
          <i class="fa fa-flash"></i> Install
        </a>
        &nbsp;
        <a href="https://github.com/dalibo/powa/" class="btn btn-lg btn-outline">
          <i class="fa fa-github"></i> Fork
        </a>
      </div>
    </div>
  </div>
</section>
