#!/bin/bash
 
# Exit on error
set -e
 
# Source debconf library.
. /usr/share/debconf/confmodule

# Does a PoWA DB exist already ?
output=$(su - postgres -c "psql -tAc \"SELECT 1 FROM pg_database WHERE datname='powa';\"")
[ "$output" == 1 ] && db_set powa/db_exist true
#
# Ask questions
#
db_get powa/db_exist
if [ $RET == true ]; then
	# Ask for DB reset
	db_input high powa/db_reset || true
	db_go || true
	db_get powa/db_reset
	if [ $RET = true ]; then
		# Ask for DB backup
		db_input high powa/db_backup
		db_go || true
	fi
	# Ask for extension upgrade
	db_input high powa/ext_upgrade || true
	db_go || true
fi

# Does a powa user exist already
exist=$(su - postgres -c "psql -tAc \"SELECT 1 FROM pg_roles WHERE rolname='powa';\"")
[ "$exist" == 1 ] && db_set powa/user_exist true
db_input high powa/get_username || true
db_go || true
valide=false
while [ "$valide" == false ]; do
	db_input high powa/get_password || true
	db_go || true
	db_get powa/get_password
	if [[ "$RET" =~ ^[A-Za-z0-9#$+*]{6,}$ ]]; then
		valide=true
	else
		db_input high powa/user_pass_warn || true
		db_go || true
	fi
done

